.full{
    
    width: 400px;
    height: 500px;
    background-color: #151313;
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    width: 400px;
    height: 100px;
}
.top input{
    display: flex;
    width: 100%;
    height: 90px;
    text-align: end;
}
.body{
    display: flex;
    width: 400px;
    height: 400px;
}
.midbody{
    width: 100%;
    height: 100%;
}
.row{
    display: flex;
    width: 100%;
    height: 20%;
}
.button:hover{
    background-color: yellowgreen;
}
.button{
    font-size: 20px;
    width: 25%;
    height: 100%;
}
.res{
    font-size: 30px;
}
.history{
    background-color: green;
}
.text{
    font-size: 20px;
    margin: 0px;
}
.historico{
    width: 500px;
    background-color: aquamarine;
}
.bodyPage{
    display: flex;
}